

@media (max-width: 321px) and (min-width: 280px) {
    p {
        font-size: 30px;
        padding-bottom: 200px;
        justify-content: center;
        margin: 0;
       
    }

    #botaoresponsive {
        padding: 0 0 50px 50px; 
        
    }
    #imglogo {
        
      content: url(../Design/logo.png);
      padding: 0;
    }
}

@media(max-width: 545px) and (min-width: 325px){
    #imglogo {
        
        content: url(../Design/logo.png);
        padding: 0;
      }
      p {
        font-size: 30px;
        padding-bottom: 350px;
        justify-content: center;
        margin: 0;
       
    }

    #botaoresponsive {
        padding: 0 0 80px 120px; 
        
    }
}
